
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="sidebar-container">
    <div class="brandlogo ">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="Logo2.png" alt="Logo" width="200px" height="200px">
            </a>
        </div>
    </div>

    <div class="nav">
        <nav class="flex-column">
            <ul class="nav flex-column">
                <Tooltip Title="DashBoard" Color="TooltipColor.Dark" Placement="TooltipPlacement.Right">
                <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" ></span>
                        </NavLink>

                    </li>
                </Tooltip>
                <Tooltip Title="Study Session" Color="TooltipColor.Dark" Placement="TooltipPlacement.Right">
                <li class="nav-item">
                        <NavLink class="nav-link" href="study-sessions">
                            <span class="bi bi-plus-square-fill-nav-menu" ></span> 
                        </NavLink>

                    </li>
                </Tooltip>
                <Tooltip Title="Calendar" Color="TooltipColor.Dark" Placement="TooltipPlacement.Right">
                <li class="nav-item">
                        <NavLink class="nav-link" href="calendar">
                            <span class="bi bi-list-nested-nav-menu"></span>
                        </NavLink>
                </li>
                </Tooltip>
            </ul>
        </nav>
    </div>
</div>